<h1>Angular task of previous list</h1>
<hr>
<div class="links w-100">
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link " [routerLink]="[ '/cenzor' ]" routerLinkActive="active">Cenzor</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " [routerLink]="[ '/users-list' ]" routerLinkActive="active">Users</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link " [routerLink]="[ '/task-list']" routerLinkActive="active">Task</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-danger" [routerLink]="[ '/' ]" routerLinkActive="active">Home</a>
        </li>
      </ul>

</div>
<hr>
