
<div class="card-group ">
    <div class="card  border border-secondary">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Cenzor</h5>
        <button type="button" class="btn  btn-success w-100" [routerLink]="[ '/cenzor' ]" routerLinkActive="active">details</button>
      </div>
    </div>
    <div class="card  border border-secondary">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Users</h5>
        <button type="button" class="btn  btn-success w-100" [routerLink]="[ '/users-list' ]" routerLinkActive="active">details</button>
      </div>
    </div>
    <div class="card  border border-secondary">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Tasks</h5>
        <button type="button" class="btn  btn-success w-100" [routerLink]="[ '/task-list' ]" routerLinkActive="active">details</button>
      </div>
    </div>
  </div>
  